/* Documentation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.Document {
    margin: 0 40px 0 80px;
    overflow: auto;
    padding: 0;
    .Prose { width: auto; }
}

.Document-header {
    border-bottom: 1px solid $color-light-grey;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.Document-title {
    color: $color-black;
    font-family: $font-family;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
}

.overview-statuses {
    display: flex;
    .overview-status {
        width: 50%;
        &:first-child { margin-right: 20px; }
        &:last-child { margin-left: 20px; }
    }
}

.swatches {
    display: flex;
    flex-wrap: wrap;
    .color-swatch {
        border: 1px solid $color-light-grey;
        border-radius: 25px;
        margin: 0 20px 20px 0;
        padding: 20px;
        width: 250px;
    }
}

.c-white { color: white; }
