/* Pen
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.Pen {
    overflow: auto;
    position: relative;
}

.Pen-top {
    display: flex;
    margin: 40px 80px;
    .Prose { max-width: 720px; }
}

.Pen-info {
    border: none;
    position: absolute;
    top: calc(100vh - 280px);
    left: 0;
    margin: 0;
    width: 100%;
}

.Browser { position: relative; }

.Browser-controls {
    background-color: white;
    border-top: 1px solid $color-light-grey;
    border-bottom: 1px solid $color-light-grey;
    box-shadow: none;
}

.Browser-tab {
    flex: initial;
    a {
        border-right: 1px solid $color-light-grey;
        border-bottom: 0;
        color: rgba(34,37,43,.87);
        font-family: $font-family;
        font-size: 14px;
        font-weight: 400;
        padding: 8px 20px 7px;
        &:hover { background-color: $color-off-white; }
        span {
            color: rgba(34,37,43,.37);
            font-size: 10px;
        }
    }
    &.is-active a {
        background-color: $color-off-white;
        font-weight: 400;
    }
}

.Browser-panel {
    background-color: $color-off-white;
    min-height: 240px;
    padding: 20px;
    .Code {
        background-color: $color-off-white;
        pre { background-color: $color-off-white; }
    }
}

.Pen-header {
    align-items: center;
    background-color: whitesmoke;
    border-top: 1px solid $color-light-grey;
    border-bottom: 1px solid $color-light-grey;
    justify-content: space-between;
    max-height: initial;
    padding: 10px 20px;
    .Status {
        display: inline-block;
        margin-left: 40px !important;
        padding-left: 0 !important;
        vertical-align: bottom;
    }
}

.Pen-title {
    color: $color-black;
    font-family: $font-family;
    font-size: 24px;
    font-weight: 700;
}

.Pen-previewLink {
    background-color: transparent;
    border: 1px solid $color-grey;
    color: $color-grey;
    padding: 7px 20px;
    svg {
        margin-left: 10px;
        opacity: 1;
    }
    &:hover { background-color: whitesmoke; }
}

.Pen-preview {
    background-color: white;
    border: none;
    margin: 20px;
    min-height: 0;
    overflow-x: hidden;
}
