/* Status
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.Status-label {
    border: 1px solid transparent;
    border-radius: 15px;
    font-family: inherit;
    letter-spacing: .75px;
    padding: 4px 20px;
}