@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');

$font-family:       'Lato', sans-serif;

$color-black:       #22252B;
$color-grey:        #87898C;
$color-light-grey:  #EBECEE;
$color-off-white:   #FAFAFA;
$color-blue:        #0AD3FF;